<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <link href="{{constant('ECweb\\Bootstrap::ENTRY_URL')}}css/style.css" rel="stylesheet">

    <title>お知らせ管理</title>
  </head>

  <body>

        <div>
          ニュース配信しました。
        </div>
        <div><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_ADMIN')}}admin_top.php">管理TOPページへ</a></div>
    
  </body>
</html>