  <!-- 非ログイン/ログイン 共通部分 footer -->
<footer>
  <div id = "footer_navi">
    <div id = "footer_navi_left">
      <ul>
        <li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}item_list.php">TOPページ</a></li>
        <li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}cart.php">カート</a></li>
        <li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL_SHOP')}}inquiry_form.php">お問合せ</a></li>
        <li><a href="{{constant('ECweb\\Bootstrap::ENTRY_URL')}}policy/privacy_policy.html">プライバシーポリシー</a></li>
      </ul>
    </div>

    <div id = "footer_navi_right">
      <ul>
        <li>永友健斗（ながとも・けんと）26歳</li>
        <li>Webエンジニア志望</li>
        <li>2020年9月よりPHP(Twig)を中心に</li>
        <li>JavaScript,MySQL,HTML,CSSを学習中。</li>
      </ul>
    </div>
  </div>

    <div id = "copyright">
      &copy; 2020 南国農園
    </div>
</footer>